.navbar-brand {
	height: 80px;
}

.nav >li >a {
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar-toggle {
	padding: 10px;
	margin: 25px 15px 25px 0;
}

img {
    width: auto;
    height: 100%;
}

td.actions > button.btn:not(:first-child) {
	margin-left: 3%;
} 

.table > tbody > tr > td {
     vertical-align: middle !important;
}

.input-group[class*="col-"] {
    padding-left: 15px !important;
    padding-right: 15px !important;
}